{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        ["babel-plugin-module-resolver", {
            "root": "./",
            "alias": {
                "react-utils": "./src"
            }
        }],
        ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": true }],
        "@babel/plugin-proposal-do-expressions",
        ["@babel/plugin-proposal-pipeline-operator", { "proposal": "smart" }],
        "babel-plugin-styled-components"
    ],
    "sourceMaps": "inline"
}